<h1>Welcome to the User Story Generator</h1>

<h3>What kind of user story do you want?</h3>

<ul>
  <li><a href="/industry">Give me something I can show my boss</a></li>
  <li><a href="/for_fun">Give me a totally random user story</a></li>
  <li><a href="/pop_song">Help me write the next hit pop song</a></li>
  <li><a href="/launch">I need a user story for the Launch winter cohort</a></li>
</ul>
