<h3>What kind of user story do you want?</h3>

<div class="large-12 columns">
  <ul>
    <li><a href="/industry">Give me something I can show my boss</a></li>
    <li><a href="/for_fun">Give me a totally random user story</a></li>
    <li><a href="/pop_song">Help me write the next hit pop song</a></li>
    <li><a href="/launch">I need a user story for the Launch winter cohort</a></li>
  </ul>
</div>

<div class="row">
  <h1>Best User Stories</h1>

  <div class="large-12 columns" id="stories">
    <div class="panel">
      <div class="row">
        <div class="medium-4 large-4 text-center columns"><div class="panel"><h3>Upvotes</h3></div></div>  <div class="panel"><h3>Story</h3></div>
      </div>
      <% @stories_votes.each do |story, upvotes| %>
        <div class="row">
          <div class="medium-4 large-4 text-center columns">
            <div class="panel">
                <form action="/upvote" method="POST">
                  <label>
                    <input type="hidden" name="image" id="name" value= <%= story %> >
                    <svg class="arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 78 64.5" enable-background="new 0 0 78 64.5" xml:space="preserve">
                    <polygon fill="#919191" stroke="#FFFFFF" stroke-miterlimit="10" points="68,51.4 13.2,51.4 40.5,12.8 40.5,13 "/>
                    </svg>
                  </label>
                </form>
                <%= upvotes %>
            </div>
          </div>
          <div class="panel" id="story">
            <p>
              <%= story %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- button to sort by newest -->
<!-- make a variable change when you push the button,
have a seperate peice of html that prints directly from the csv when you order by newest -->
