<h1>Welcome to the User Story Generator</h1>

<h3>What kind of user story do you want?</h3>

<ul>
  <li><a href="/industry">Give me something I can show my boss</a></li>
  <li><a href="/for_fun">Give me something that will make me laugh</a></li>
  <li><a href="/pop_song">Help me write the next hit pop song</a></li>
</ul>
