<h1>For Launchers</h1>

<% subject = ["I", "we"] %>
<% subject.shuffle! %>

<% can = ["can", "can't"] %>
<% can.shuffle! %>

<p>As a user, I want to <%= "#{@launch}" %> so that <%= subject[0] %> <%= can[0] %> <%= "#{@more_launch}" %></p>
