<h1>For pop songs</h1>

<p><%= @sentence %></p>

<p>Is this sentence a keeper?</p>

<form method="post" action="/">
  <input type="submit" id="sentence" value="Keep it!">
</form>

<form method="post" action="/">
  <input type="hidden" id="sentence" value =<%= @sentence %>>
</form>
