<h1>For pop songs</h1>

<p><%= @sentence %></p>

<button type="button" onClick="window.location.href=window.location.href">New User Story</button>

<form action='/' method='POST'>
  <input type="hidden" name="sentence" value= "<% @sentence %>" >
  <button type='submit'>Save Story</button>
</form>
